name: BuildPlugin
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        uses: FriendsOfShopware/actions/.github/workflows/github.yml@main
        with:
            extensionName: FroshAltchaCaptcha
            shopwareVersion: 6.6.0
        secrets:
            ghToken: ${{ secrets.GITHUB_TOKEN }}
